/*indexr Base stylesheet*/

/*GLOBAL SETUP */
*{
	margin:0;
	padding: 0;
}

body{
	background: #ecf0f1;
	font-family: sans-serif;
	font-weight: lighter;
	font-family: 'Open Sans', sans-serif;

}

header{
	background:#2c3e50;
	height: 60px;
}

h1{
	color: #fff;
	margin: auto;
	font-weight: lighter;
	display: inline-block;
	font-size: 23px;
	margin-left: 22px;
	vertical-align: top;
	margin-top: 12px;
}

h2{
	display: inline-block;
	font-style: italic;
	font-size: 16px;
	font-weight: 300;
	color: #1abc9c;
	vertical-align: top;
	margin-top: 19px;
	border-left: 1px solid #1abc9c;
	padding-left: 20px;
	margin-left: 20px;

}

/*TOOLS*/
.spacer{
	height: 30px;
}
/*CONTENT STYLE*/

.rtnBtn{
	display: inline-block;
	color: #fff;
	font-size: 54px;
	margin-left: 15px;
}



.container {
	max-width: 1000px;
	margin: auto;
	padding: 0 20px;
}

.pageDesc{
	padding:0 40px;
}


table{
	width: 100%;
	border-collapse: collapse; 
	overflow: hidden;
	border-radius: 5px 5px 0 0;
}

.fileList thead tr{
	border:none!important;
	background:#bdc3c7!important; 
	color: #fff;
}

.fileList thead  th{
	font-size: 16px;
	font-weight: 300;
	font-style: italic;
	padding: 10px 0 10px 20px;
	text-align: left;
}

.fileList thead  th.titleFirst{
	padding: 10px 0 10px 60px;
}

.fileList tr{
/*	border-bottom: solid 1px #afafaf !important;*/
	border-left: 5px solid #1abc9c;
	-webkit-transition: all 0.3s ease;
}

.fileList tr:hover{
	border-left: 20px solid #16a085;
}

.fileList td{
	padding: 10px;
	vertical-align:middle;	
	border-width:0px 1px 1px 0px;
	text-align:left;
}

.fileList td.name{
	padding-left: 20px;
	position: relative;
}

.fileList td.dl{
	position: relative;
	width: 30px;
}

.fileList  tr td.dl:hover{
	background: #16a085;
}

.fileList td.name a{
	text-decoration: none;
	font-weight: 400;
	color: #2c3e50;
}


.fileList tr:hover td{
	background: #acecc7 ;
	
}


.fileList tr:nth-child(odd){ background-color:#ecf0f1; }
.fileList tr:nth-child(even){ background-color:#ffffff; }

.empty {
	font-size: 36px;
	font-style: italic;
	font-weight: bold;
	text-align: center;
	display: block;
	color: #666;
}



/*.fileList tr:last-child td{
	border-width:0px 1px 0px 0px;
}

.fileList tr td:last-child{
	border-width:0px 0px 1px 0px;
}

.fileList tr:last-child td:last-child{
	border-width:0px 0px 0px 0px;
}
*/